* {
    font-family: MetropolisRegular;
    margin: 0;
    padding: 0;
}
* h3 {
    font-size: 18px;
}
* h4 {
    font-size: 16px;
}




/* ========== navbar ========== */

.responsive-wrap {
    display: none;
}

nav {
    /* border: 1px solid gray; */
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0.5px 30px rgba(226, 226, 226, 0.87);
    margin-top: 0;
}
 
.nav-container {
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100vw;
    padding: 0 10%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* margin: auto; */
    box-sizing: border-box;
    flex-grow: initial;
 
} 

/* .nav-wrap {
    height: 100px;
    width: 100%;   
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.logo-wrap{
    display: flex;
    width: 20%;
}

.blanja-logo {
    /* position: relative;
    left: 20px; */
    display: flex;
    /* flex-grow: 1; */
    margin-right: 80px;
}

.searchbox-wrap{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.search-box {
    width: 507px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    /* position: relative;
    left: 60px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* flex-grow: 3; */
}

.input-search{
    height: 25px;
    width: 80%;
    border: 0px;
    border-radius: 30px;
    display: flex;
    position: relative;
    right: 10%;
}

.search-button{
    position: relative;
    right: 15px;
    background-color: white;
    border: 0px;

}

.filter{
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    /* position: relative;
    left: 71px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    margin-right: 200px;
    margin-left: 11px;
}

.filter button {
    border: none;
    background: white;
}

/* ============ modal================ */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 450px;
    height: 758px;
    /* display: none; */
}



.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    border-bottom: 5px solid lightgrey;
    /* font-size: 24px; */
    /* border-bottom: 1px solid black; */
}

.modal-header h2 {
    margin: 22px 0;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold; margin-right: 20px;
}

.modal-body {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.color {
    width: 100%;
    padding: 0  10px 25px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid lightgrey;
    box-sizing: border-box;
    /* justify-content: left; */
    /* justify-content: space-between; */

}
.color h5 {
    margin: 15px 0px 40px 0;
    font-size: 18px;
}

.color-button {
    display: flex;
    flex-direction: row;
}

#red, #black, #navy, #white, #brown, #darkyellow {
    height: 45px;
    width: 45px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#red {
    background: #D84242;
}

#black {
    background: black;
}

#navy {
    background: #151867;
}

#white {
    background: white;
}
#brown {
    background: #BEA9A9;
}
#darkyellow {
    background: #E2BB8D;
}

.size {
    width: 100%;
    padding: 0  10px 25px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid lightgrey;
    box-sizing: border-box;
    /* justify-content: left; */
    /* justify-content: space-between; */

}
.size h5 {
    margin: 15px 0px 40px 0;
    
    font-size: 18px;
}

.size-button {
    display: flex;
    flex-direction: row;
}

#xs, #s, #m, #l, #xl {
    height: 45px;
    width: 45px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
}

.category {
    width: 100%;
    padding: 0  10px 25px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid lightgrey;
    box-sizing: border-box;
    

    /* justify-content: left; */
    /* justify-content: space-between; */

}
.category h5 {
    margin: 15px 0px 40px 0;

    font-size: 18px;
}

.category-button {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0 0;
    flex-wrap: wrap;
}

#all, #woman, #man, #boy, #girl {
    
    height: 40px;
    width: 100px;

    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
}

.brand {
    width: 100%;
    padding: 0  10px 25px 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid lightgrey;
    box-sizing: border-box;
    

    /* justify-content: left; */
    /* justify-content: space-between; */

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

}
.brand h5 {
    margin: 15px 0px 2px 0;
    padding: 0;
    font-size: 18px;
}

.brand h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: gray;
}

.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-top: 20px;
}

.dropdown button {
    background: white;
    border: none;
    cursor: pointer;
}

.modal-footer {
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}


#discard {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid gray;
    background: white;
}

#apply {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid gray;
    background: #DB3022;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/*================= end modal ================== */

.icons-wrap{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.nav-icons{
    width: 225px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    cursor: pointer;
    /* position: relative;
    left: 262px; */
    /* flex-grow: 2; */
}

header {
margin-top: 50px;
width: 100%;
height: 250px;
display: flex;
/* flex-direction: row; */
justify-content: center;
align-items: center;
}




main {
margin-top: 50px;
width: 100%;
/* height: 364px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.carousel1 {
    width: 80%;  
height: 250px;
}

.carousel2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 450px;
}

.carousel2 h2 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: bolder;
}

.carousel2 h5 {
    font-size: 12px;
    margin-top: 0;
    font-weight: 400;
}

.cell {
    margin: 0 20px;
}

.cell2 { 
    height: 220px;
    width: 206px;
  margin: 0 20px;
}

.cell img {
    border-radius: 10px;
}
.main-carousel {
    scrollbar-arrow-color: none;
}

.card-new {
    width: 80%;
    height: 1100px;
    margin-bottom:100px;
    display:flex ;
    flex-direction: column;

}

.card-group{
    width: 100%;
    height: 300px;
    /* margin: 50px; */
    display: flex;
    flex-direction: row;

    justify-content: center;
    /* flex-wrap: wrap; */

}

.card {
    width: 208px;
    height: 285px;
    margin: 50px 20px;
    border: 0px solid gray;
    display: flex;
    flex-direction: column;
    border-radius:10px ;
    box-shadow: 0px 0.5px 30px rgba(226, 226, 226, 0.87);
    
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding-left: 10px;
}

.card h4{
    margin: 10px 0px 15px 0px;
}

.card h6 {
    margin: 10px 0px 15px 0px;

}

.star {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-popular {
    width: 80%;
    height: 1100px;
    margin-bottom: 75px;
}

@media (max-width: 576px) and (min-width: 350px) {
         
    
    nav {
        
        width: 110%;
        height: 100px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0.5px 30px rgba(226, 226, 226, 0.87);
        margin: 0;
        /* border: 1px solid black; */
    }
     
    .nav-container {
        z-index: 10;
        position: fixed;
        background-color: white;
        width: 100vw;
        padding: 0 0%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    } 
    
    /* .nav-wrap {
        height: 100px;
        width: 100%;   
        display: flex;
        flex-direction: row;
        align-items: center;
    } */
    
    .logo-wrap{
        display: flex;
        justify-content: flex-start;
        width: 20%;
        margin-right: 40px;
    }
    
    .blanja-logo {
        /* position: relative;
        left: 20px; */
        /* display: flex; */
        /* flex-grow: 1; */
        /* margin-right: 80px; */
    }
    
    .searchbox-wrap{
        display: flex;
        flex-direction: row;
        width: 20%;
        margin: 0px;
        display: none;
    }
    
    .search-box {
        width: 46px;
        height: 46px;
        border: 0px solid gray;
        border-radius: 30px;
        /* position: relative;
        left: 60px; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5px;
        /* flex-grow: 3; */
        display: none;
    }
    
    .input-search{
        height: 25px;
        width: 80%;
        border: 0px;
        border-radius: 30px;
        display: flex;
        position: relative;
        right: 10%;
        display: none;
    }
    
    .search-button{
        position: relative;
        width: 5px;
        height: 46px;
        right: 15px;
        background-color: white;
        border: 0px;
        display: none;
    
    }
    
    nav .filter{
        height: 40px;
        width: 40px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-right: 5px;
        /* position: relative;
        left: 71px; */
        display: flex;
        /* justify-content: center;
        align-items: center; */
        /* flex-grow: 1; */
        /* margin-right: 200px;
        margin-left: 11px; */
    }
    
    .icons-wrap{
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: center; 
        margin-left: 50px;
        padding: 0 5px;
    }
    
    .nav-icons{
        width: 225px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-self: end;
        /* position: relative;
        left: 262px; */
        /* flex-grow: 2; */
    }

    .nav-icons img {
        margin: 0 8px;
    } 
    
    header, main {
        display: none;
    }

    .responsive-wrap {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }

    .responsive-header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        margin-bottom: 50px;
    }

    .responsive-carousel1 {
    width: 100vw;  
    height: 200px;
    padding: 0 5%;
    }
    
    .responsive-carousel2 {
        width: 100vw;  
        height: 200px;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        margin-bottom: 250px;
    }
    
    .responsive-carousel2 h2 {
        margin-bottom: 10px;
        font-size: 34px;
        font-weight: bolder;
        text-align: center;
    }
    
    .responsive-carousel2 h5 {
        font-size: 12px;
        margin-top: 0;
        font-weight: 400;
        text-align: center;

    }
    
    .responsive-cell {
        margin: 0 5px;
        height: 150px;
        width: 306px;
    /* border-image: fill; */
    }

    .responsive-cell img {
        height: 140px;
        width: 306px;
    }
    
    .responsive-cell2 { 
        height: 220px;
        width: 206px;
      margin: 0 20px;
    }
    
    .responsive-cell img {
        border-radius: 10px;
    }
    /* .responsive-maincarousel {
        scrollbar-arrow-color: none;
    } */
    
    .responsive-container4 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 400px;
    }

    .responsive-container5 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .responsive-cardgroup{
    width: 100%;
    height: 300px;
    /* margin: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.responsive-card {
    width: 208px;
    height: 285px;
    margin: 30px 10px;
    border: 0px solid gray;
    display: flex;
    flex-direction: column;
    border-radius:10px ;
    box-shadow: 0px 0.5px 30px rgba(226, 226, 226, 0.87);
    
}

.responsive-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.responsive-cardcontent {
    padding-left: 10px;
}

.responsive-card h4{
    margin: 10px 0px 15px 0px;
}

.responsive-card h6 {
    margin: 10px 0px 15px 0px;

}

.responsive-star {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

}

.responsive-star h6 {
    margin: 0;
}

.responsive-cards {
    width: 100%;
    height: 700px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive-cards h2 {
    margin: 0 0 10px 0;
    font-weight: bolder;
}

.responsive-cards h5 {
    margin: 0;
    font-size: 12px;
    color: gray;
}
}
